.header {
    position: relative;
    padding: $verticalSpaces__desktop $horizontalSpaces__desktop;
    width: 100%;
    min-height: 100vh;

    @media (max-width: $tablet) {
        padding: $verticalSpaces__tablet $horizontalSpaces__tablet;
    }

    @media (max-width: $mobile) {
        padding: $verticalSpaces__mobile $horizontalSpaces__mobile;
    }

    &__background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('./imgs/header/header__background.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        z-index: 0;
    }

    &__navBar {
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        z-index: 5;

        @media (max-width: $mobileSmall) {
            flex-direction: column;
            justify-content: flex-start;
        }
    }

    &__homeLink {
        text-decoration: none;

        @include hoverScale;

        @media (max-width: $mobileSmall) {
            padding-bottom: 16px;
        }
    }

    &__mainLogo {
        width: 53px;
        height: 40px;
    }

    &__navList {
        margin: 0 -28px;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;

        @media (max-width: $mobile) {
            margin: 0 -16px;
        }

        &__item {
            position: relative;
            bottom: 0;
            padding: 0 28px;
            font-family: 'Roboto-Regular', sans-serif;
            font-size: 18px;
            color: $white;
            text-decoration: none;
            cursor: pointer;

            @include hoverScale;

            @media (max-width: $mobile) {
                padding: 0 16px;
            }

            &__cart {
                width: 24px;
                height: 20px;
            }
        }
    }

    &__text {
        padding: 0 $horizontalSpaces__desktop;
        left: 0;
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        z-index: 5;

        @media (max-width: $mobile) {
            padding: 0 $verticalSpaces__mobile;
        }
    }

    &__title {
        padding-bottom: 24px;
        font-family: 'Roboto-Bold', sans-serif;
        font-size: 60px;
        
        @media (max-width: $mobile) {
            font-size: 30px;
            padding-bottom: 16px;
        }
    }

    &__subtitle {
        max-width: 566px;
        font-family: 'Roboto-Regular', sans-serif;
        font-size: 20px;
        line-height: 1.5;

        @media (max-width: $mobile) {
            font-size: 16px;
            line-height: 1.2;
        }
    }

    &__title,
    &__subtitle {
        color: $white;
        text-align: center;
    }

    &__scrlToProd {
        position: absolute;
        left: 50%;
        bottom: 46px;
        border: solid $white;
        border-width: 0 6px 6px 0;
        border-radius: 12%;
        display: inline-block;
        padding: 8px;
        transform: rotate(45deg) translateX(-50%);
        transition: bottom $basicTransitionTime ease-in-out;
        background-color: transparent;
        cursor: pointer;
        z-index: 5;

        &:hover {
            bottom: 36px;
        }
    }
}
