@font-face {
    font-family: "Roboto-Light";
    src: url("./fonts/Roboto-Light.ttf") format("ttf");
    font-weight: 200;
}

@font-face {
    font-family: "Roboto-Regular";
    src: url("./fonts/Roboto-Regular.ttf") format("ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Roboto-Bold";
    src: url("./fonts/Roboto-Bold.ttf") format("ttf");
    font-weight: 600;
}
