@mixin hoverScale {
    transition: all $basicTransitionTime ease-in-out;

    &:hover {
        transform: scale(1.1);

        @media (max-width: $tablet) {
            transform: scale(1.04);
        }
    }
}
