$basicTransitionTime: .3s;

//spaces
$verticalSpaces__desktop: 40px;
$verticalSpaces__tablet: 20px;
$verticalSpaces__mobile: 16px;
$horizontalSpaces__desktop: 60px;
$horizontalSpaces__tablet: 46px;
$horizontalSpaces__mobile: 20px;
$productPadding__desktop: 24px;
$productPadding__tablet: 18px;
$productPadding__mobile: 14px;


//color
$white: #fff;
$productsBackground: #f5f6f7;
$productsBrown: #aa9b77;
$itemBasicTextColor: #424242;

// media breakpoints
$mobileSmall: 400px;
$mobile: 600px;
$tabletSmall: 768px;
$tablet: 1024px;
